# 0.0 Imports

In [234]:
# Libraries
import pandas    as pd
import numpy     as np
import streamlit as st
import folium
import inflection

import plotly.express       as px
import plotly.graph_objects as go

from PIL              import Image
from streamlit_folium import folium_static
from geopy.distance   import geodesic

## 0.1 Helper functions

In [235]:
COUNTRIES = {
1: "India",
14: "Australia",
30: "Brazil",
37: "Canada",
94: "Indonesia",
148: "New Zeland",
162: "Philippines",
166: "Qatar",
184: "Singapure",
189: "South Africa",
191: "Sri Lanka",
208: "Turkey",
214: "United Arab Emirates",
215: "England",
216: "United States of America",
}

In [236]:
price_range = {
1:'cheap',
2:'normal',
3:'expensive',
4:'gourmet',
}

In [237]:
COLORS = {
"3F7E00": "darkgreen",
"5BA829": "green",
"9ACD32": "lightgreen",
"CDD614": "orange",
"FFBA00": "red",
"CBCBC8": "darkred",
"FF7800": "darkred",
}

In [238]:
def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df

## 0.2 Loading data

In [239]:
df_raw = pd.read_csv('data\zomato.csv')

In [240]:
df_raw.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

# 1.0 Data description

In [241]:
df1 = df_raw.copy()

## 1.1 Rename columns

In [242]:
df1 = rename_columns(df1)

## 1.2 Data dimensions

In [243]:
# Linhas
df1.shape[0]

7527

In [244]:
# Colunas
df1.shape[1]

21

## 1.3 Data types

In [245]:
df1.dtypes

restaurant_id             int64
restaurant_name          object
country_code              int64
city                     object
address                  object
locality                 object
locality_verbose         object
longitude               float64
latitude                float64
cuisines                 object
average_cost_for_two      int64
currency                 object
has_table_booking         int64
has_online_delivery       int64
is_delivering_now         int64
switch_to_order_menu      int64
price_range               int64
aggregate_rating        float64
rating_color             object
rating_text              object
votes                     int64
dtype: object

## 1.4 Check NA

In [246]:
df1.isna().sum()

restaurant_id            0
restaurant_name          0
country_code             0
city                     0
address                  0
locality                 0
locality_verbose         0
longitude                0
latitude                 0
cuisines                15
average_cost_for_two     0
currency                 0
has_table_booking        0
has_online_delivery      0
is_delivering_now        0
switch_to_order_menu     0
price_range              0
aggregate_rating         0
rating_color             0
rating_text              0
votes                    0
dtype: int64

## 1.5 Fillout NA

## 1.6 Change Types

# 2.0 Data cleaning

In [247]:
df2 = df1.copy()

In [248]:
df2.describe()

,restaurant_id,country_code,longitude,latitude,average_cost_for_two,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,votes
count,7.527000e+03,7527.000000,7527.000000,7527.000000,7.527000e+03,7527.000000,7527.000000,7527.000000,7527.0,7527.000000,7527.000000,7527.000000
mean,1.055689e+07,93.065365,33.764092,19.332787,7.152113e+03,0.062176,0.352464,0.174306,0.0,2.624552,4.118055,616.401488
std,7.075141e+06,99.031229,77.395241,23.255979,2.906068e+05,0.241491,0.477769,0.379397,0.0,0.959794,0.680191,1127.697932
min,5.490000e+02,1.000000,-122.700455,-41.330428,0.000000e+00,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000
25%,3.500060e+06,1.000000,-4.258142,12.923378,6.000000e+01,0.000000,0.000000,0.000000,0.0,2.000000,4.000000,152.000000
50%,7.701457e+06,30.000000,73.785121,25.246955,2.900000e+02,0.000000,0.000000,0.000000,0.0,3.000000,4.200000,335.000000
75%,1.714715e+07,214.000000,79.833706,31.636552,6.000000e+02,0.000000,1.000000,0.000000,0.0,3.000000,4.500000,663.000000
max,1.904028e+07,216.000000,175.310552,55.976980,2.500002e+07,1.000000,1.000000,1.000000,0.0,4.000000,4.900000,41333.000000

In [249]:
# Drop switch_to_order_menu - only 0 values
df2 = df2.drop(columns=['switch_to_order_menu'], axis=1)

In [250]:
# Drop duplicates in considering the restaurant id, keeping the first ones
df2 = df2.drop_duplicates(subset=['restaurant_id'], keep='first')

In [251]:
# Drop NA
df2 = df2.dropna()

In [252]:
df2.isnull().sum()

restaurant_id           0
restaurant_name         0
country_code            0
city                    0
address                 0
locality                0
locality_verbose        0
longitude               0
latitude                0
cuisines                0
average_cost_for_two    0
currency                0
has_table_booking       0
has_online_delivery     0
is_delivering_now       0
price_range             0
aggregate_rating        0
rating_color            0
rating_text             0
votes                   0
dtype: int64

# 3.0 Feature engineering

In [253]:
df3 = df2.copy()

In [254]:
df3.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'price_range',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes'],
      dtype='object')

In [255]:
# Mapping the column country_code to contry name
df3['country'] = df3['country_code'].map(COUNTRIES)

In [256]:
# Creating price type
df3['price_type'] = df3['price_range'].map(price_range)

In [257]:
# Changing the rating color
df3['rating_color'] = df3['rating_color'].map(COLORS)

In [258]:
# Only consider the first type of cousine
df3["cuisines"] = df3.loc[:, "cuisines"].apply(lambda x: x.split(",")[0])

In [259]:
binary = {0:'Não', 1:'Sim'}

# Change the binary columns to yes or no
df3['has_table_booking'] = df3['has_table_booking'].map(binary)
df3['has_online_delivery'] = df3['has_online_delivery'].map(binary)
df3['is_delivering_now'] = df3['is_delivering_now'].map(binary)

In [260]:
rating_text_pt = {
    'Excellent':'Excelente',
    'Very Good':'Muito bom', 
    'Good':'Bom',
    'Average':'Regular',
    'Not rated':'Não avaliado',
    'Poor':'Ruim',
    'Vynikajúce':'Excelente',
    'Bardzo dobrze':'Muito bom',
    'Muy Bueno':'Muito bom',
    'Bueno':'Bom',
    'Baik':'Bom',
    'Biasa':'Regular',
    'Skvělá volba':'Excelente',
    'Velmi dobré':'Muito bom',
    'Buono':'Bom',
    'Skvělé':'Excelente',
    'Wybitnie':'Excelente',
    'Sangat Baik': 'Muito bom',
    'Terbaik':'Excelente',
    'İyi':'Bom',
    'Excelente':'Excelente',
    'Muito bom':'Muito bom',
    'Muito Bom':'Muito Bom',
    'Bom':'Bom',
    'Harika':'Excelente',
    'Çok iyi':'Muito bom',
    'Eccellente':'Excelente',
    'Veľmi dobré':'Muito bom',
}

In [261]:
df3['rating_text_pt'] = df3['rating_text'].map(rating_text_pt).str.title()

In [262]:
currency_values = {'Botswana Pula(P)': 0.068, 
                   'Brazilian Real(R$)': 0.164, 
                   'Dollar($)': 1.0, 
                   'Emirati Diram(AED)': 0.27, 
                   'Indian Rupees(Rs.)': 0.013, 
                   'Indonesian Rupiah(IDR)': 0.000069, 
                   'NewZealand($)': 0.684, 
                   'Pounds(£)': 1.388, 
                   'Qatari Rial(QR)': 0.27, 
                   'Rand(R)': 0.066, 
                   'Sri Lankan Rupee(LKR)': 0.005, 
                   'Turkish Lira(TL)': 0.118}


df3['convert_dol'] = df3.loc[:, 'currency'].map(currency_values)

df3['avg_cost_dol'] = df3['average_cost_for_two'] * df3['convert_dol']

In [263]:
df3.sample(1).T

                                                                   3838
restaurant_id                                                   2101933
restaurant_name                                               Fat Belly
country_code                                                          1
city                                                           Guwahati
address               Opposite Hotel Blue Moon, Bhuban Road, Uzan Ba...
locality                                                    Uzan Bazaar
locality_verbose                                  Uzan Bazaar, Guwahati
longitude                                                     91.753365
latitude                                                      26.191359
cuisines                                                          Asian
average_cost_for_two                                                500
currency                                             Indian Rupees(Rs.)
has_table_booking                                                   Não
has_online_delivery                                                 Não
is_delivering_now                                                   Não
price_range                                                           2
aggregate_rating                                                    4.3
rating_color                                                      green
rating_text                                                   Very Good
votes                                                               247
country                                                           India
price_type                                                       normal
rating_text_pt                                                Muito Bom
convert_dol                                                       0.013
avg_cost_dol                                                        6.5

In [264]:
drop = ['country_code', 'price_range', 'rating_text', 'convert_dol']

df3 = df3.drop(columns=drop, axis=1)

# 4.0 Answering questions

In [265]:
df4 = df3.copy()

## 4.1 Geral

### 1. Quantos restaurantes únicos estão registrados?

In [ ]:
df4['restaurant_id'].nunique()

### 2. Quantos países únicos estão registrados?

In [ ]:
df4['country'].nunique()

### 3. Quantas cidades únicas estão registradas?

In [ ]:
df4['city'].nunique()

### 4. Qual o total de avaliações feitas?

In [ ]:
df4['votes'].sum()

### 5. Qual o total de tipos de culinária registrados?

In [ ]:
df4['cuisines'].nunique()

## 4.2 País

### 1. Qual o nome do país que possui mais cidades registradas?

In [331]:
cols = ['city', 'country']

df_aux = df4.loc[:, cols].groupby(cols[1]).count().reset_index().sort_values(cols[0], ascending=False)
df_aux.iloc[0,0]

                     country  city
4                      India  3111
14  United States of America  1374
3                    England   400
10              South Africa   346
13      United Arab Emirates   300
1                     Brazil   240
6                 New Zeland   239
0                  Australia   180
2                     Canada   180
12                    Turkey   159
5                  Indonesia    80
7                Philippines    80
8                      Qatar    80
9                  Singapure    80
11                 Sri Lanka    80

### 2. Qual o nome do país que possui mais restaurantes registrados?

In [332]:
cols = ['restaurant_id', 'country']

df_aux = df4.loc[:, cols].groupby(cols[1]).count().reset_index().sort_values(cols[0], ascending=False)
df_aux.iloc[0,0]

                     country  restaurant_id
4                      India           3111
14  United States of America           1374
3                    England            400
10              South Africa            346
13      United Arab Emirates            300
1                     Brazil            240
6                 New Zeland            239
0                  Australia            180
2                     Canada            180
12                    Turkey            159
5                  Indonesia             80
7                Philippines             80
8                      Qatar             80
9                  Singapure             80
11                 Sri Lanka             80

### 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [ ]:
cols = ['restaurant_id', 'country']
cond = df4['price_type'] == 'gourmet'

df_aux = df4.loc[cond, cols].groupby(cols[1:]).count().reset_index().sort_values(cols[0], ascending=False)
df_aux.iloc[0,0]

### 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

In [ ]:
# Cria loop que filtra o dataset por cada nome de país e retorna o valor unico de valores na coluna 'cuisines', 
# adiciona esse valor a uma lista e depois cria um dataframe com o nome dos paises
lista = []
for i in df4['country'].unique():
    cond = cond = df4['country'] == i
    lista.append(df4.loc[cond, 'cuisines'].nunique())

df_paises = pd.DataFrame([df4['country'].unique(), lista]).T
df_paises.columns = ['country', 'num_unique_cuisines']
df_paises = df_paises.sort_values('num_unique_cuisines', ascending=False)
df_paises.iloc[0,0]

### 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [ ]:
cols = ['country', 'votes']

df_aux = df4.loc[:, cols].groupby(cols[0]).sum().reset_index().sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

### 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [ ]:
cols = ['country', 'is_delivering_now']
cond = df4['is_delivering_now'] == 'Sim'

df_aux = df4.loc[cond, cols].groupby(cols[0]).count().reset_index().sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

### 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [ ]:
cols = ['country', 'has_table_booking']
cond = df4['has_table_booking'] == 'Sim'

df_aux = df4.loc[cond, cols].groupby(cols[0]).count().reset_index().sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

### 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [ ]:
cols = ['country', 'votes']

df_aux = df4.loc[:, cols].groupby(cols[0]).mean().reset_index().sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

### 9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [ ]:
cols = ['country', 'aggregate_rating']

df_aux = df4.loc[:, cols].groupby(cols[0]).mean().reset_index().sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

### 10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [ ]:
cols = ['country', 'aggregate_rating']

df_aux = df4.loc[:, cols].groupby(cols[0]).mean().reset_index().sort_values(cols[1], ascending=True)
df_aux.iloc[0,0]

### 11. Qual a média de preço de um prato para dois por país?

In [333]:
cols = ['country', 'average_cost_for_two']

df_aux = df4.loc[:, cols].groupby(cols[0]).mean()
df_aux

                          average_cost_for_two
country
Australia                        138959.783333
Brazil                              138.812500
Canada                               41.861111
England                              43.510000
India                               704.400514
Indonesia                        303000.000000
New Zeland                           62.154812
Philippines                        1227.825000
Qatar                               174.000000
Singapure                           141.437500
South Africa                        339.228324
Sri Lanka                          2579.375000
Turkey                              128.584906
United Arab Emirates                153.716667
United States of America             55.029840

## 4.3 Cidade

### 1. Qual o nome da cidade que possui mais restaurantes registrados?

In [ ]:
cols = ['city', 'restaurant_id']

df_aux = df4.loc[:, cols].groupby(cols[0]).count().reset_index().sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

### 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

In [335]:
cols = ['city', 'restaurant_id']
cond = df4['aggregate_rating'] > 4

df_aux = df4.loc[cond, cols].groupby(cols[0]).count().reset_index().sort_values(cols[1], ascending=False)
df_aux

                city  restaurant_id
11         Bangalore             79
56            London             78
43           Houston             75
48           Jakarta             74
23           Chennai             72
..               ...            ...
37         Ghaziabad              1
100    San Juan City              1
96        Roodepoort              1
119         Zirakpur              1
71   Muntinlupa City              1

[121 rows x 2 columns]

### 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

In [ ]:
cols = ['city', 'restaurant_id']
cond = df4['aggregate_rating'] < 2.5

df_aux = df4.loc[cond, cols].groupby(cols[0]).count().reset_index().sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

### 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [ ]:
cols = ['city', 'average_cost_for_two']

df_aux = df4.loc[:, cols].groupby(cols[0]).mean().reset_index().sort_values(cols[1], ascending=False)
df_aux

### 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

In [ ]:
# Cria loop que filtra o dataset por cada nome de país e retorna o valor unico de valores na coluna 'cuisines', 
# adiciona esse valor a uma lista e depois cria um dataframe com o nome dos paises
lista = []
for i in df4['city'].unique():
    cond = cond = df4['city'] == i
    lista.append(df4.loc[cond, 'cuisines'].nunique())

df_paises = pd.DataFrame([df4['city'].unique(), lista]).T
df_paises.columns = ['city', 'num_unique_cuisines']
df_paises = df_paises.sort_values('num_unique_cuisines', ascending=False)
df_paises.iloc[0,0]

### 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

In [ ]:
df4.columns

In [ ]:
cols = ['city', 'has_table_booking']
cond = df4['has_table_booking'] == 'Sim'

df_aux = df4.loc[cond, cols].groupby(cols[0]).count().reset_index().sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

### 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

In [ ]:
cols = ['city', 'is_delivering_now']
cond = df4['is_delivering_now'] == 'Sim'

df_aux = df4.loc[cond, cols].groupby(cols[0]).count().reset_index().sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

### 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [ ]:
cols = ['city', 'has_online_delivery']
cond = df4['has_online_delivery'] == 'Sim'

df_aux = df4.loc[cond, cols].groupby(cols[0]).count().reset_index().sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

## 4.4 Restaurantes

### 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

In [273]:
cols = ['restaurant_name', 'votes']

df_aux = df4.loc[:,cols].sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

'Bawarchi'

### 2. Qual o nome do restaurante com a maior nota média?

In [276]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']

df_aux = df4.loc[:,cols].sort_values(cols[1:], ascending=False)
df_aux.iloc[0,0]

'Baithak'

### 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

In [ ]:
cols = ['restaurant_name', 'average_cost_for_two']

df_aux = df4.loc[:,cols].sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

In [278]:
cols = ['restaurant_name', 'avg_cost_dol']

df_aux = df4.loc[:,cols].sort_values(cols[1], ascending=False)
df_aux.iloc[0,0]

"d'Arry's Verandah Restaurant"

### 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

In [281]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'Brazilian'

df_aux = df4.loc[cond,cols].sort_values(cols[1:], ascending=True)
df_aux.iloc[0,0]

'Loca Como tu Madre'

### 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

In [284]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = (df4['cuisines'] == 'Brazilian') & (df4['country'] == 'Brazil')

df_aux = df4.loc[cond,cols].sort_values(cols[1:], ascending=False)
df_aux.iloc[0,0]

'Aprazível'

### 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

In [285]:
cols = ['has_online_delivery', 'votes']

df_aux = df4.loc[:, cols].groupby(cols[0]).mean().reset_index().sort_values(cols[1], ascending=False)
df_aux

  has_online_delivery       votes
1                 Sim  838.821664
0                 Não  479.421018

### 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

In [286]:
cols = ['has_table_booking', 'average_cost_for_two']

df_aux = df4.loc[:, cols].groupby(cols[0]).mean().reset_index().sort_values(cols[1], ascending=False)
df_aux

  has_table_booking  average_cost_for_two
1               Sim          69998.423810
0               Não           3488.596866

In [287]:
cols = ['has_table_booking', 'avg_cost_dol']

df_aux = df4.loc[:, cols].groupby(cols[0]).mean().reset_index().sort_values(cols[1], ascending=False)
df_aux

  has_table_booking  avg_cost_dol
1               Sim  59561.292667
0               Não     30.035434

### 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

In [288]:
cols = ['cuisines', 'avg_cost_dol']
cond = (df4['country'] == 'United States of America')

df_aux = df4.loc[cond, cols].groupby(cols[0]).mean().reset_index()

cond = (df_aux['cuisines'] == 'BBQ') | (df_aux['cuisines'] == 'Japanese')

df_aux.loc[cond, :]

    cuisines  avg_cost_dol
3        BBQ     39.642857
41  Japanese     56.406250

## 4.5 Tipos de Culinária

### 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [266]:
df4.columns

Index(['restaurant_id', 'restaurant_name', 'city', 'address', 'locality',
       'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'aggregate_rating',
       'rating_color', 'votes', 'country', 'price_type', 'rating_text_pt',
       'avg_cost_dol'],
      dtype='object')

In [329]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'Italian'

df_aux = df4.loc[cond, cols].sort_values(cols[1:], ascending=False)

df_aux

                    restaurant_name  aggregate_rating  restaurant_id
6113               Amano Restaurant               4.9       18393092
4056  Zolocrust - Hotel Clarks Amer               4.9       18209498
1397                Central Grocery               4.9       17242351
1819                    Guillermo's               4.9       17156955
1805        Cerroni's Purple Garlic               4.9       17156258
...                             ...               ...            ...
242       Bene - Sheraton Rio Hotel               0.0        7304910
6723        Le Delicatezze Di Bruno               0.0        6800666
324                             Più               0.0        6715707
305                    Ristorantino               0.0        6714499
150                Avenida Paulista               0.0        6600542

[390 rows x 3 columns]

### 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [291]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'Italian'

df_aux = df4.loc[cond, cols].sort_values(cols[1:], ascending=True)

df_aux.iloc[0,0]

'Avenida Paulista'

### 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [293]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'American'

df_aux = df4.loc[cond, cols].sort_values(cols[1:], ascending=False)

df_aux.iloc[0,0]

'Cut By Wolfgang Puck'

### 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [294]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'American'

df_aux = df4.loc[cond, cols].sort_values(cols[1:], ascending=True)

df_aux.iloc[0,0]

'Alston Bar & Beef'

### 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [299]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'Arabian'

df_aux = df4.loc[cond, cols].sort_values(cols[1:], ascending=False)

df_aux.iloc[0,0]

'Mandi@36'

### 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [301]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'Arabian'

df_aux = df4.loc[cond, cols].sort_values(cols[1:], ascending=True)

df_aux.iloc[0,0]

'Raful'

### 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [302]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'Japanese'

df_aux = df4.loc[cond, cols].sort_values(cols[1:], ascending=False)

df_aux.iloc[0,0]

'Sushi Go!'

### 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [303]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'Japanese'

df_aux = df4.loc[cond, cols].sort_values(cols[1:], ascending=True)

df_aux.iloc[0,0]

'Banzai Sushi'

### 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [305]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'Home-made'

df_aux = df4.loc[cond, cols].sort_values(cols[1:], ascending=False)

df_aux.iloc[0,0]

'Kanaat Lokantası'

### 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [306]:
cols = ['restaurant_name', 'aggregate_rating', 'restaurant_id']
cond = df4['cuisines'] == 'Home-made'

df_aux = df4.loc[cond, cols].sort_values(cols[1:], ascending=True)

df_aux.iloc[0,0]

'GurMekan Restaurant'

### 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [315]:
cols = ['cuisines', 'average_cost_for_two', 'avg_cost_dol']

df_aux = df4.loc[:, cols].groupby(cols[0]).mean().reset_index().sort_values(cols[2], ascending=False)

df_aux.iloc[0,0]

'Modern Australian'

### 12. Qual o tipo de culinária que possui a maior nota média?

In [316]:
df4.columns

Index(['restaurant_id', 'restaurant_name', 'city', 'address', 'locality',
       'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'aggregate_rating',
       'rating_color', 'votes', 'country', 'price_type', 'rating_text_pt',
       'avg_cost_dol'],
      dtype='object')

In [321]:
cols = ['cuisines', 'aggregate_rating', 'restaurant_id']

df_aux = df4.loc[:, cols].groupby(cols[0]).mean().reset_index().sort_values(cols[1:], ascending=False)

df_aux.iloc[1,0]

'Ramen'

### 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [328]:
cols = ['cuisines', 'has_online_delivery', 'is_delivering_now']
cond = (df4['has_online_delivery'] == 'Sim') & (df4['is_delivering_now'] == 'Sim')


df_aux = df4.loc[cond, cols].groupby(cols[0]).count().reset_index().sort_values(cols[1], ascending=False)

df_aux.iloc[0,0]

'North Indian'